.responsImage {
  width: 320px;
}
.btnWeb {
  width: 97px;
  height: 40px;
  border: none;
}
.btnMobile {
  width: 74px;
  height: 30px;
}
.boxMobile {
  width: 358px;
  height: 316px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  border: 1px solid color(display-p3 0.8745 0.8745 0.8745);
  background: #fff;
  background: color(display-p3 1 1 1);
}
.buttonMore {
  width: 152px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid #830024;
}
.mobLogin{
  width: 350px;
  height: 477px;
  background-color: #FAF7F7;
}
.log{
  height: 795px;
  border-radius: "0px 8px 8px 0px";
  background: " var(--Foundation-Red-Light, #F6EAEB)";
}
.pasWeb{
  width: 339px;
}
.profilebutton{
  height: 48px;
}
.profilebutton:hover{
  background-color: #F6EAEB;
}
.profile{
  background-color: #F6EAEB;
}
.menu{
  background-color: white;
}
.menu .gap{
  background-color: #F6EAEB;;
}
.profileicon{
  height: 132px;
}
.courseRes{
  height: auto;
}
.ageButton{
  border-radius: 8px;
  width: 120px;
  height: 74px;
  border: 1px solid  #830024;

background:  #F6EAEB;
cursor: pointer;
}
.ageButtonRes{
  border-radius: 8px;
  width: 90px;
  height: 64px;
  border: 1px solid  #830024;

background:  #F6EAEB;
cursor: pointer;
}